{% extends is_granted('ROLE_SUPER_ADMIN')
    ? 'HologramBundle::layout.html.twig'
    : 'HologramBundle::layouts.html.twig' %}
{% block mainContent %}
   
     <!-- page content -->
       
            <div class="clearfix"></div>

            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Product validation</h2>
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">

                    <form class="form-horizontal form-label-left" novalidate>

                   
                   

                      
                     
                      <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="textarea">Logo <span class="required">:</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <img width="120" height="120" src="{{asset(img)}}">
                               
                        </div>
                      </div>
                      <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">Product name <span class="required">:</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          {{form_widget(f.productName)}}
                        </div>
                      </div>
                      <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="textarea">Date  <span class="required">:</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                             <input id="name" class="form-control col-md-7 col-xs-12" data-validate-length-range="6" data-validate-words="2" name="name"  readonly type="text" value={{d|date('d/m/Y')}}>
                        </div>
                      </div>
                      <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="textarea">Description <span class="required">:</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                         {{form_widget(f.productContent)}}
                        </div>
                      </div>
                     
                       <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="textarea">Video <span class="required">:</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                           <video width="500" height="300" controls>
                                 <source src="{{asset(video)}}" type="video/mp4">
                           </video>
                               
                        </div>
                      </div>
                        <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="textarea">Final Product <span class="required">:</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                           <video width="500" height="300" controls>
                                 <source src="{{asset(final)}}" type="video/mp4">
                           </video>
                               
                        </div>
                      </div>    
                           
                      
                      
                </form>

                    <div class="ln_solid"></div>
                   <!-- <div class="form-group">
                        <div class="col-md-6 col-md-offset-3">
                        <form class="control-label col-md-3 col-sm-3 col-xs-12" action="{{path('esprit_hologram_validatate_product',{'id': p.idProduit})}}" >
                           <button  type="submit" class="btn btn-success" >Validate</button>
                        </form>
                        <form  class="control-label col-md-3 col-sm-3 col-xs-12"  action="{{path('esprit_hologram_refuse_product',{'id': p.idProduit})}}">
                           <button type="submit" class="btn btn-primary">Refuse</button>
                        </form>
                        </div>
                      </div>!-->
                  </div>
               
        <!-- /page content -->
    
    
{% endblock %}